input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    margin: 2.5%;
    overflow: hidden;
    background-color: rgba(255, 255, 128, 0.5);
    font-family: 'DM Mono', monospace;
}

img {
    transition: top 0.1s, left 0.1s, margin-top 0.1s, opacity 0.25s;
}

.friendly_piece:hover {
    margin-top: -10px;
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    z-index: 9999999999999999999999999;
}

.red {
    background-color: red;
}

.green {
    background-color: greenyellow;
}